@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular.woff2')

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway-Regular.woff2')

@font-face
  font-family: 'RalewayBold'
  src: url('../fonts/Raleway-Bold.woff2')

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans-Regular.woff2')

.title
  font-family: 'Raleway'
  font-size: 1.6rem

.close-button
  font-weight: bold
