@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular.woff2')

@font-face
  font-family: 'Raleway'
  src: url('../fonts/Raleway-Regular.woff2')

@font-face
  font-family: 'RalewayBold'
  src: url('../fonts/Raleway-Bold.woff2')

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans-Regular.woff2')

@font-face
  font-family: 'Inter'
  src: url('../fonts/Inter.woff2')

.title
  font-family: 'Inter'
  font-size: 1.6rem

.close-button
  font-weight: bold

.dialog-card
  font-family: "Inter"
  // background-color: rgba(2, 25, 38, 0.8)
  background-color: transparent
  backdrop-filter: blur(16px)
  border: 1px solid rgba(255, 255, 255, 0.125)
  border-radius: 12px
  width: 40%
  height: 40%

.dialog-card__title
  font-size: 2.2rem
  margin-bottom: 2rem

.dialog-card__info
  font-size: 1rem
  margin-bottom: 2rem

// .calendar
//   background-color: rgba(8,25,35, 0.75)
//   border: 1px solid rgba(255, 255, 255, 0.525)
//   font-family: 'OpenSans'
//   font-size: 1.6rem
//   border-radius: 12px
//   :deep .q-date__calendar-item
//     padding-top: 0.6rem
//     // padding-left: 0.5rem
//     // padding-right: 0.5rem
//   :deep .block
//     font-size: 1.25rem

.online-main
  position: fixed
  top: 0
  left: 0
  padding: 1.6rem

.online
  position: fixed
  top: 0
  left: 90%
  padding-top: 1.5rem

.table
  font-family: 'Inter'
  font-size: 0.8rem
  text-transform: uppercase
  border-collapse: collapse
  margin: 2rem 0
  min-width: 25rem
  border-radius: 1rem 1rem 0 0
  overflow: hidden
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)


.table thead tr
  // background-color: #000406
  background-color: rgba(17, 25, 40, 0.8)
  color: #ffffff
  text-align: left

.table th, .table td
  font-family: 'Inter'
  font-weight: 300
  font-size: 0.9rem
  padding: 1rem 2.5rem
  width: 20rem

.table tbody tr
  border-bottom: 1px solid #dddddd
  font-weight: 350

.table tbody tr:nth-of-type(even)
  background-color: #1C4157

.table tbody tr:last-of-type
  border-bottom: 2px solid #000406

@media screen and (max-width: 500px)
  .online
    position: fixed
    top: 0
    left: calc(90% - 5rem)
    padding-top: calc(1.5rem - 2.2vw)

  .dialog-card
    width: 100%
    height: calc(auto + 10%)
